.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);

}
*{
    padding: 0; margin: 0;
}
body{

    
}

main{
    background-color: var(--VeryDarkBlue);
    max-width: 1440px;
    
    display: flex;
    padding: 10px;
}

.bg-img{
    margin-top: 25%;
    max-width: 1440px;
    width: auto;
       
}

.container{
    background-color: var(--DarkBlue);
    margin: 30px;
    position: absolute;
    
}

.left{
width: 300px;
margin-left: 600px;
    
}
.right{
    width: 300px;
    margin-left: 300px;
    
}
.load{
   
    
    margin: auto;
    background-color: var(--VeryDarkBlue);
    border-radius: 3em;

}
.loadcompleted{
    height: 10px;
    width: 80%;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 3em;
}