*{
    margin: 0;
}
:root{
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}
*{
    margin: 0; padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: var(--Very-Dark-Blue);
    max-width: 1440px;
    margin: auto;
    max-height: 100vh;
    padding-top: 370px;
    width: 100%;
}
picture > img{
    
}
.container{
    display: flex;
    position: relative ;
    bottom: 540px;
    left: 200px;
    padding: 10px;
}
.left-side{
    background-color: var(--Dark-Blue);
    width: fit-content;
    padding: 30px;
    border-radius:10px 5rem 10px 10px;
}
.logo-left{
    margin: 0px 130px 20px 0px;
}
.icons-left{
    background-color: var(--Very-Dark-Blue);
    padding: 15px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
   
}
.right-side{
    height: 100px;
    color: white;
    background-color: var(--Dark-Blue);
    margin-left: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}
.right-side > h4{
    margin-left: 10px;
}
.right-side .card{
    background-color: white;
    color: black;
    width: fit-content;
    display: flex;
    position: relative;
    left: 300px;
    bottom:30px;

}
.load-bar{
    background-color: var(--Very-Dark-Blue);
    width: 400px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 1px;
    display: flex;
    align-items: center;
}
.load{
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 100%;
    width: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    padding: 1px;
}
.ball{
    background-color: #fff;
    height: 13px;
    width: 13px;
    display: flex;
    border-radius: 50%;
}
.text{
    color: white;
    display: flex;
    justify-content: space-between;
    
}