*{
    margin: 0;
}
:root{
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}
body{

}
.left-side{
    margin: 10px;
    background-color: var(--Dark-Blue);
    width: fit-content;
    padding: 30px 100px 30px 20px;
    border-top-right-radius: 6em;
}
.logo-left{
    margin: 10px;
}
.content{
    margin: 10px;
    align-items: center;
    justify-content: center;

}
.icons-left{
    background-color:var(--Very-Dark-Blue);
    padding: 1em;
    margin-left: 10px;
    border-radius: 10px;
    
}
.right-side{
    margin: 10px;
    background-color: var(--Dark-Blue);
    width: fit-content;
    padding: 30px;
    color: #ddd;
}
.load-bar{
    background-color: var(--Very-Dark-Blue);
    margin: 10px;
    padding: 2px;
    border-radius: 2em;
    
}
.load{
    width: 75%;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 11px;
    border-radius: 2em;
}
